.sidebar {
    position: fixed;
    background-color: white;

    width: 72px;
    left: 0px;
    top: 55px;
    bottom: 0px;
    padding-top: 5px;

    z-index: 3;
    cursor: pointer;
}

.side-bar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar-link:hover {
    background-color: rgb(231, 231, 231)
}

.side-bar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.side-bar-link div {
    font-size: 10px;
}